
.container {
    width: 900px;
    height: 300px;
    background-color: white;
    position: absolute;
}

.container1 {
    width: 900px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 310px;
}

.product {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    position: absolute;
    top: 10px;
}

.primo {
    width: 280px;
    height: 280px;
    left: 10px;
    border: 1px solid grey;
    box-sizing: content-box;

}

.secondo {
    width: 280px;
    height: 280px;
    left: 310px;
    border: 1px solid grey;
    box-sizing: content-box;
}

.terzo {
    width: 280px;
    height: 280px;
    left: 610px;
    border: 1px solid grey;
    box-sizing: content-box;
}

.green {
    width: 40px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
}

#sconto1 {
    position: absolute;
    bottom: 260px;
    left: 240px;
}

.red {
    width: 40px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
}
#sconto2 {
    position: absolute;
    bottom: 260px;
    left: 240px;
}

.cuore  {
    color: rgba(255,0,0,0);
    font-size: 80px;
    position: absolute;
    top: 200px;
    left: 125px;
}

.product:hover .cuore {
    color: red;
    font-size: 60px;
    position: absolute;
    top: 200px;
    left: 125px;
    cursor: pointer;

}
